.container1{

background-color: blue;
height: 200px;
width: 200px;
position:relative;



}


.container2{

    background-color: yellow;
    height: 200px;
    width: 200px;
    position: relative; 
    left:200px;  /*  Mtlb ye ri8 jaega  */
    bottom: 200px;   /*Ye Upar jaega    */
}


.container3{

    background-color: red;

    height: 200px;
    width: 200px;
    position: relative;
    left: 400px;
    bottom: 400px;

}